// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8rem;
}

h1, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

#hero {
    height: 23em;
    background-image: url('../img/smoothie-1444371_2000px_crop.jpg');
    background-size: cover;
}

#strawberry-logo {
    height: 70px;
}

#smoothie-brand {
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
    font-weight: bold;
    color: #33691e;
    margin-left: 0.3em;
    vertical-align: bottom;
}

#home-nav {
    margin-left: -2.3em;
}

#main-menu {
    margin-left: -1.5em;
}

#recipe-meta {
    a {
        color: #faffb7;
    }
}

#ingredients-fruit {
    td {
        padding-right: 1rem;
    }
}