// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8rem;
}

h1, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.login {
    h1 {
        a {
            background-image: url('../img/Emojione_1F353.svg');
        }
    }
}

.wp-core-ui {
    .button-primary {
        background-color: $info;
        border-color: $info;
        font-size: 16px;
        border-radius: $btn-border-radius;
    }
}

.wp-core-ui {
    .button-primary:hover {
        background-color: #467c26;
        border-color: #467c26;
    }
    .button-primary:active {
        background-color: $info;
        border-color: $info;
    }
}

.entry-meta-bloglist {
    margin-top: 0.5em;
    font-size: 0.7rem;
    line-height: 1rem;
    text-transform: uppercase;
}

.tax-smoothie-kategori {
    .widget-area {
        margin-top: 56px;
    }
}

.tax-smoothie-etikett {
    .widget-area {
        margin-top: 56px;
    }
}

.author {
    .widget-area {
        margin-top: 56px;
    }
}


#img-no-border {
    border: none;
}

#hero {
    height: 23em;
    background-image: url('../img/smoothie-1444371_2000px_crop.jpg');
    background-size: cover;
    
}

#hero h1 {
    text-shadow: 1px 1px 10px black;
}

#hero p {
    text-shadow: 1px 1px 10px black;
}

#strawberry-logo {
    height: 70px;
}

#smoothie-brand {
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    font-size: 3rem;
    color: #33691e;
    margin-left: 0.3em;
    vertical-align: bottom;
    letter-spacing: -0.1rem;
    line-height: 0.9em;
}

#home-nav {
    margin-left: -2.3em;
}

#main-menu {
    margin-left: -1.5em;
}

#recipe-meta {
    a {
        color: #faffb7;
    }
}

#ingredients-fruit {
    td {
        padding-right: 1rem;
    }
}

@media screen and (max-width: 993px){
    #hero {
        background-image: url('../img/smoothie-1444371_722px.jpg');
    }
}

@media screen and (max-width: 768px){
    #hero {
        height: 25em;
        background-image: linear-gradient(#39671C, #659F30);
    }
}

@media screen and (max-width: 490px){
    #hero {
        height: 27em;
    }
    #hero h1 {
        font-size: 2rem;;
        
    }

    #hero p {
        font-size: 1rem;
    }
}