// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


body {
    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8rem;
}

h1, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h2, h3 {
    font-family: 'Josefin Slab', serif;
    color: #33691e;
}

#hero {
    height: 23em;
    background-size: cover;
}

#strawberry-logo {
    height: 70px;
}