// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #33691e; // Thats a sample how you could change a BootStrap variable.
$secondary: #c5e1a5;
$info: #689f38;
$body-bg: #f0ffe0;
$btn-border-radius: 1.8em;
$btn-padding-y: 0.5em;
$btn-padding-x: 1em;